apiVersion: v1
kind: Service
metadata:
  name: collector
  namespace: kubemon
spec:
  selector:
    app: collector
  clusterIP: None
  externalName: collector
  ports:
  - name: handler
    port: 9822
    targetPort: 9822
  - name: cmd-iface
    port: 9880
    targetPort: 9880
  - name: healthcheck
    port: 9882
    targetPort: 9882
  - name: instances-check
    port: 9883
    targetPort: 9883
---
apiVersion: v1
kind: Service
metadata:
  name: monitor
  namespace: kubemon
spec:
  selector:
    app: monitor
  clusterIP: None
  externalName: monitor
  ports:
  - name: rest
    port: 80
    targetPort: 80